MONGODB_HOST=mongodb 
MONGODB_PORT=27017 
MONGODB_DATABASE=digital_hunter 
MONGODB_COLLECTION=targets bank 

KAFKA_HOST=kafka 
KAFKA_PORT=9092
KAFKA_GROUP_ID=extract

KAFKA_PRODUCER_TOPIC=intel_signals_dlq
KAFKA_CONSUMER_TOPICS=intel,attack,damage
